/* General styling */
body {
  font-family: "Quicksand", sans-serif;
  background-color: #e9f8f1; /* Latar belakang hijau muda */
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  overflow: auto;
}

input::placeholder {
  font-family: "Quicksand", sans-serif;
}

.container {
  width: 100%;
  max-width: 600px;
  /* background-color: #fff; */
  padding: 20px;
  margin: 70px 0;
  /* border-radius: 12px; Sudut yang lebih melengkung */
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); Bayangan lebih halus */
  /* box-sizing: border-box; */
}

.container #title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.container #title h1 {
  margin: 0;
}

.container #title h2 {
  margin: 15px;
}

h1 {
  text-align: center;
  color: #00bf63; /* Judul dengan warna hijau */
  font-size: 2rem;
  margin-bottom: 20px;
}

.chatbox {
  max-height: 200px;
  overflow-y: auto;
  padding: 10px;
  border: 1px solid #00bf63; /* Garis border hijau */
  border-radius: 8px; /* Sudut lebih melengkung */
  background-color: #f1f8f6; /* Latar belakang hijau pucat untuk chatbox */
  margin-bottom: 20px;
  color: #333;
}

.chatbox p {
  margin: 0 0 10px;
}

.symptom-form label,
.container label {
  font-weight: bold;
  margin-top: 10px;
  display: block;
  color: #333;
  font-size: 17px;
}

.symptom-form input,
.symptom-form select,
.symptom-form button {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 8px; /* Sudut lebih melengkung */
  box-sizing: border-box;
  font-size: 1rem;
  background-color: #f9f9f9; /* Latar belakang input lebih cerah */
}

.symptom-form input,
.symptom-form select {
  border: 1px solid #ccc;
}

.symptom-form button {
  background-color: #00bf63; /* Tombol hijau */
  color: white;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease-in-out;
}

.symptom-form button:hover {
  background-color: #009e4f; /* Warna hijau lebih gelap saat hover */
}

/* Responsive styling */
@media (max-width: 768px) {
  .container {
    max-width: 90%;
    padding: 15px;
  }
  .chatbox {
    max-height: 150px;
  }
}

@media (max-width: 480px) {

  .container #title h1 {
    margin: 0;
    font-size: 28px;
  }

  .container #title h2 {
    margin: 15px;
    font-size: 23px;
  }

  h1 {
    font-size: 1.5rem;
  }

  .symptom-form label,
  .symptom-form input,
  .symptom-form select,
  .symptom-form button {
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 0;
  }

  .container label {
    padding-left: 0px;
    padding-bottom: 0;
    font-size: 1rem;
    margin-bottom: 0;
  }

  .chatbox {
    max-height: 120px;
    padding: 8px;
  }
}
